.nav {
  & ul {
    padding-left: 0;
  }

  & li {
    position: relative;
    padding: 0.5em !important;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;

  }

  & li a {
    text-decoration: none;
    background: no-repeat 0 100%;
    background-image: linear-gradient(var(--color-red), var(--color-red));
    background-size: 0% 2px;
    transition: background-size 0.4s ease-out;
  }

  & li a:hover {
    background-size: 100% 2px;
  }
}