.logo {
  flex-wrap: nowrap !important;
  gap: 10px;

  &__link {
    width: fit-content;
  }

  &__wrappar-avatar {
    width: 70px;
    min-width: 70px;
  }

  &__profession {
    margin-top: 5px;
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .logo {
    flex-wrap: wrap !important;

    &__wrappar-avatar {
      width: 120px;
      min-width: 120px;
    }

    &_center {
      justify-content: center;
      text-align: center;
    }
  }
}
